<h2>Welcolm admin user</h2>
<p>this is a redirect page. since you are a Administrator you may chose to continue as a administrator or a normal user.</p>

<form method="post" action="/admin">
    <input type="submit" name="admin" value="administrator"/>
</form>

<form method="post" action="/guest">
    <input type="submit" name="admin" value="Basic user"/>
</form>